body {
    height:1450px;
}
nav {
    display: flex;
    justify-content:space-around;
    margin-top: 40px;
    
}
nav .fa-magnifying-glass {
    color: gray;
}
.left input {
    border: none;
    outline: none;
    margin-left: 15px;
}

.middle {
    color: gray;
    border: 1px solid black;
}
.right {
    color: gray;
}
.right .fa-user:hover {
    color: black;
    cursor: pointer;
}
.right .fa-heart:hover {
    cursor: pointer;
    color: black;
}
.right .fa-cart-shopping:hover {
    cursor: pointer;
    color: black;
}
.right .fa-user {
    margin-right: 10px;
}
.right .fa-heart {
    margin-right: 10px;
}
.hr {
   background-color: rgba(128, 128, 128, 0.547);
}
.middlenav {
    display: flex;
    justify-content: center;
    color: gray;
}
.text1 {
    margin-right: 10px;
    color: gray;
    cursor: pointer;
}
.text1:hover {
    color: rgba(137, 43, 226, 0.408) ;
}
.text2 {
   margin-right: 10px;
   cursor: pointer;
}
.text2:hover {
    color: rgba(137, 43, 226, 0.408);
}
.text3 {
    margin-right: 30px;
    color: gray ;
}
.text3:hover {
    color:  rgba(137, 43, 226, 0.408) ;
    cursor: pointer;
}

.text4 {
    margin-right: 30px;
    cursor: pointer;
}
.text4:hover {
    color:  rgba(137, 43, 226, 0.408) ;
}
.text5 {
    margin-right: 30px;
    cursor: pointer;
}
.text5:hover {
    color:  rgba(137, 43, 226, 0.408) ;
}
.text6 {
    margin-right: 30px;
    cursor: pointer;
}
.text6:hover {
    color:  rgba(137, 43, 226, 0.408) ;
}
.arrow {
    display: flex;
    
}
.arrow .fa-angle-down
{
    margin-top: 20px;
    margin-right: 20px;
}
.midflex {
    display: flex;
    background-color: rgba(255, 228, 196, 0.326);
} 
.midflex .home {
    color: blueviolet;
    margin-left: 180px;
}
.midflex .about {
    margin-left: 10px;
    color: blueviolet;
}
.midflex .checkout {
    margin-left: 20px;
}
hr {
    height: 1px;
    border: none;
    background-color: rgba(128, 128, 128, 0.162);
}
.finaly i {
    justify-content: center;
    display: flex;
    margin-top: 100px;
    color:green ;
    font-size: 80px;
}
.finaly h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;

}
.finaly h5 {
    color: gray;
    display: flex;
    justify-content: center;
}
.backk {
    margin-left: 650px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 200px;
    cursor: pointer;
}
.footer {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.foot-left {
    margin-left: 100px;
    
}
.ulflex {
    display: flex;
    color: gray;
}
.ulflex .col1 {
    margin-right: 200px;
}
.ulflex .col2
{
    margin-right: 100px;
}
.promo h3 
{
    color: blueviolet;
}
.promo h4 {
    color: gray;
} 
.contact {
    margin-right:20px;
}
.manial {
    display: flex;
}
.manial .fa-location-dot {
    margin-top: 20px;
    margin-right: 10px;
    color: blueviolet;
}
.telephone {
    display: flex;
}
.telephone .fa-phone {
    margin-top: 21px;
    margin-right: 10px;
    color: blueviolet;
}
.emaill {
    display: flex;
}
.emaill .fa-envelope {
    margin-top: 22px;
    margin-right: 10px;
    color: blueviolet;
}.sendd {
    background-color: blueviolet;
    color: white;
    border-radius: 3px;
    border: none;
    height: 35px;
    width: 70px;
    position: absolute;
}
.emaillast {
    height: 30px;
    width: 150px;
    border: 1px solid rgba(128, 128, 128, 0.319);
    position: relative;
    outline: none;
}
.lastttttttt {
    
    display: flex;
    margin-left: 500px;
    margin-top: 100px;
}
.lastttttttt .name {
    color: blueviolet;
}
.lastttttttt .copyright {
    color: gray;
}
